In [5]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("Crop Production data.csv")

In [7]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246091 entries, 0 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     246091 non-null  object
 1   District_Name  246091 non-null  object
 2   Crop_Year      246091 non-null  int64
 3   Season         246091 non-null  object
 4   Crop           246091 non-null  object
 5   Area           246091 non-null  float64
 6   Production     242361 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.1+ MB

In [10]:
df.describe()

           Crop_Year          Area    Production
count  246091.000000  2.460910e+05  2.423610e+05
mean     2005.643018  1.200282e+04  5.825034e+05
std         4.952164  5.052340e+04  1.706581e+07
min      1997.000000  4.000000e-02  0.000000e+00
25%      2002.000000  8.000000e+01  8.800000e+01
50%      2006.000000  5.820000e+02  7.290000e+02
75%      2010.000000  4.392000e+03  7.023000e+03
max      2015.000000  8.580100e+06  1.250800e+09

In [11]:
df.isnull().sum()

State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       3730
dtype: int64

In [12]:
df = df.dropna(subset=["Production"])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 242361 entries, 0 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     242361 non-null  object
 1   District_Name  242361 non-null  object
 2   Crop_Year      242361 non-null  int64
 3   Season         242361 non-null  object
 4   Crop           242361 non-null  object
 5   Area           242361 non-null  float64
 6   Production     242361 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 14.8+ MB

In [14]:
df['Yield'] = df['Production'] / df['Area']

In [10]:
print(df["Crop"].unique())

['Arecanut' 'Other Kharif pulses' 'Rice' 'Banana' 'Cashewnut' 'Coconut '
 'Dry ginger' 'Sugarcane' 'Sweet potato' 'Tapioca' 'Black pepper'
 'Dry chillies' 'other oilseeds' 'Turmeric' 'Maize' 'Moong(Green Gram)'
 'Urad' 'Arhar/Tur' 'Groundnut' 'Sunflower' 'Bajra' 'Castor seed'
 'Cotton(lint)' 'Horse-gram' 'Jowar' 'Korra' 'Ragi' 'Tobacco' 'Gram'
 'Wheat' 'Masoor' 'Sesamum' 'Linseed' 'Safflower' 'Onion'
 'other misc. pulses' 'Samai' 'Small millets' 'Coriander' 'Potato'
 'Other  Rabi pulses' 'Soyabean' 'Beans & Mutter(Vegetable)' 'Bhindi'
 'Brinjal' 'Citrus Fruit' 'Cucumber' 'Grapes' 'Mango' 'Orange'
 'other fibres' 'Other Fresh Fruits' 'Other Vegetables' 'Papaya'
 'Pome Fruit' 'Tomato' 'Mesta' 'Cowpea(Lobia)' 'Lemon' 'Pome Granet'
 'Sapota' 'Cabbage' 'Rapeseed &Mustard' 'Peas  (vegetable)' 'Niger seed'
 'Bottle Gourd' 'Varagu' 'Garlic' 'Ginger' 'Oilseeds total' 'Pulses total'
 'Jute' 'Peas & beans (Pulses)' 'Blackgram' 'Paddy' 'Pineapple' 'Barley'
 'Sannhamp' 'Khesari' 'Guar seed' 'Moth' 'Other Cereals & Millets'
 'Cond-spcs other' 'Turnip' 'Carrot' 'Redish' 'Arcanut (Processed)'
 'Atcanut (Raw)' 'Cashewnut Processed' 'Cashewnut Raw' 'Cardamom' 'Rubber'
 'Bitter Gourd' 'Drum Stick' 'Jack Fruit' 'Snak Guard' 'Tea' 'Coffee'
 'Cauliflower' 'Other Citrus Fruit' 'Water Melon' 'Total foodgrain'
 'Kapas' 'Colocosia' 'Lentil' 'Bean' 'Jobster' 'Perilla' 'Rajmash Kholar'
 'Ricebean (nagadal)' 'Ash Gourd' 'Beet Root' 'Lab-Lab' 'Ribed Guard'
 'Yam' 'Pump Kin' 'Apple' 'Peach' 'Pear' 'Plums' 'Litchi' 'Ber'
 'Other Dry Fruit' 'Jute & mesta']

In [17]:
df['Crop'] = df['Crop'].str.strip()

In [18]:
# Define a dictionary to map crops to categories
crop_categories = {
    'Arecanut': 'Nuts',
    'Other Kharif pulses': 'Pulses',
    'Rice': 'Cereals',
    'Banana': 'Fruits',
    'Cashewnut': 'Nuts',
    'Coconut': 'Nuts',
    'Dry ginger': 'Spices',
    'Sugarcane': 'Cash Crops',
    'Sweet potato': 'Vegetables',
    'Tapioca': 'Vegetables',
    'Black pepper': 'Spices',
    'Dry chillies': 'Spices',
    'other oilseeds': 'Oilseeds',
    'Turmeric': 'Spices',
    'Maize': 'Cereals',
    'Moong(Green Gram)': 'Pulses',
    'Urad': 'Pulses',
    'Arhar/Tur': 'Pulses',
    'Groundnut': 'Oilseeds',
    'Sunflower': 'Oilseeds',
    'Bajra': 'Cereals',
    'Castor seed': 'Oilseeds',
    'Cotton(lint)': 'Fibre Crops',
    'Horse-gram': 'Pulses',
    'Jowar': 'Cereals',
    'Korra': 'Cereals',
    'Ragi': 'Cereals',
    'Tobacco': 'Cash Crops',
    'Gram': 'Pulses',
    'Wheat': 'Cereals',
    'Masoor': 'Pulses',
    'Sesamum': 'Oilseeds',
    'Linseed': 'Oilseeds',
    'Safflower': 'Oilseeds',
    'Onion': 'Vegetables',
    'Samai': 'Cereals',
    'Small millets': 'Cereals',
    'Coriander': 'Spices',
    'Potato': 'Vegetables',
    'Soyabean': 'Oilseeds',
    'Beans & Mutter(Vegetable)': 'Vegetables',
    'Bhindi': 'Vegetables',
    'Brinjal': 'Vegetables',
    'Citrus Fruit': 'Fruits',
    'Cucumber': 'Vegetables',
    'Grapes': 'Fruits',
    'Mango': 'Fruits',
    'Orange': 'Fruits',
    'other fibres': 'Fibre Crops',
    'Other Fresh Fruits': 'Fruits',
    'Other Vegetables': 'Vegetables',
    'Papaya': 'Fruits',
    'Pome Fruit': 'Fruits',
    'Tomato': 'Vegetables',
    'Mesta': 'Fibre Crops',
    'Cowpea(Lobia)': 'Pulses',
    'Lemon': 'Fruits',
    'Pome Granet': 'Fruits',
    'Sapota': 'Fruits',
    'Cabbage': 'Vegetables',
    'Rapeseed &Mustard': 'Oilseeds',
    'Peas  (vegetable)': 'Vegetables',
    'Niger seed': 'Oilseeds',
    'Bottle Gourd': 'Vegetables',
    'Garlic': 'Vegetables',
    'Ginger': 'Spices',
    'Jute': 'Fibre Crops',
    'Paddy': 'Cereals',
    'Barley': 'Cereals',
    'Khesari': 'Pulses',
    'Guar seed': 'Pulses',
    'Other Cereals & Millets': 'Cereals',
    'Carrot': 'Vegetables',
    'Cauliflower': 'Vegetables',
    'Water Melon': 'Fruits',
    'Apple': 'Fruits',
    'Peach': 'Fruits',
    'Pear': 'Fruits',
    'Litchi': 'Fruits',
    'Plums': 'Fruits',
    'Tea': 'Cash Crops',
    'Coffee': 'Cash Crops',
    'other misc. pulses': 'Pulses',
    'Other  Rabi pulses': 'Pulses',
    'Varagu': 'Cereals',
    'Oilseeds total': 'Oilseeds',
    'Pulses total': 'Pulses',
    'Peas & beans (Pulses)': 'Pulses',
    'Blackgram': 'Pulses',
    'Pineapple': 'Fruits',
    'Sannhamp': 'Pulses',
    'Moth': 'Pulses',
    'Cond-spcs other': 'Spices',
    'Turnip': 'Vegetables',
    'Redish': 'Vegetables',
    'Arcanut (Processed)': 'Nuts',
    'Atcanut (Raw)': 'Nuts',
    'Cashewnut Processed': 'Nuts',
    'Cashewnut Raw': 'Nuts',
    'Cardamom': 'Spices',
    'Rubber': 'Cash Crops',
    'Bitter Gourd': 'Vegetables',
    'Drum Stick': 'Vegetables',
    'Jack Fruit': 'Fruits',
    'Snak Guard': 'Vegetables',
    'Other Citrus Fruit': 'Fruits',
    'Total foodgrain': 'Cereals',
    'Kapas': 'Fibre Crops',
    'Colocosia': 'Vegetables',
    'Lentil': 'Pulses',
    'Bean': 'Pulses',
    'Jobster': 'Unknown',
    'Perilla': 'Pulses',
    'Rajmash Kholar': 'Pulses',
    'Ricebean (nagadal)': 'Pulses',
    'Ash Gourd': 'Vegetables',
    'Beet Root': 'Vegetables',
    'Lab-Lab': 'Pulses',
    'Ribed Guard': 'Vegetables',
    'Yam': 'Vegetables',
    'Pump Kin': 'Vegetables',
    'Ber': 'Fruits',
    'Other Dry Fruit': 'Fruits',
    'Jute & mesta': 'Fibre Crops'
}

# Create a new column in the dataframe for crop categories
df['Crop_Category'] = df['Crop'].map(crop_categories)

df[['Crop', 'Crop_Category']].head()

                  Crop Crop_Category
0             Arecanut          Nuts
1  Other Kharif pulses        Pulses
2                 Rice       Cereals
3               Banana        Fruits
4            Cashewnut          Nuts

In [19]:
print(df["Crop"].nunique())
print(df["Crop_Category"].nunique())

124
10

In [20]:
print(df.isnull().sum())
print(df.info())

State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
Yield            0
Crop_Category    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 242361 entries, 0 to 246090
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     242361 non-null  object
 1   District_Name  242361 non-null  object
 2   Crop_Year      242361 non-null  int64
 3   Season         242361 non-null  object
 4   Crop           242361 non-null  object
 5   Area           242361 non-null  float64
 6   Production     242361 non-null  float64
 7   Yield          242361 non-null  float64
 8   Crop_Category  242361 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 18.5+ MB
None

In [21]:
df.head(10)

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Yield,Crop_Category
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,1.594896,Nuts
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,0.500000,Pulses
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,3.147059,Cereals
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,3.642045,Fruits
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,0.229167,Nuts
5,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Coconut,18168.0,65100000.0,3583.223250,Nuts
6,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Dry ginger,36.0,100.0,2.777778,Spices
7,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Sugarcane,1.0,2.0,2.000000,Cash Crops
8,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Sweet potato,5.0,15.0,3.000000,Vegetables
9,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Tapioca,40.0,169.0,4.225000,Vegetables

In [16]:
df.to_csv("Cleaned_Crop_Production.csv", index=False)